<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.zuma.ikrafinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/registration" />
        <activity
            android:name=".WorkspacesActivity"
            android:label="@string/workspaces" />
        <activity
            android:name=".QuestsActivity"
            android:label="@string/quests" />
        <activity
            android:name=".AchievementsActivity"
            android:label="@string/achievements"/>

        <activity
            android:name=".AchievementActivity"
            android:label="@string/achievement"/>
    </application>

</manifest>